.DS_Store*.out
*.exe
*.o
*.dSYM/
call-by-value
call-by-reference
command-line-argv
dynamic-array
struct_packing*.out
*.exe
*.o
*.dSYM/
call-by-value
call-by-reference
command-line-argv
dynamic-array
struct_packing
