# macOS system files
.DS_Store

# VS Code
.vscode/

# C compiled files
*.out
*.exe
*.o

# macOS debug symbols
*.dSYM/

# compiled executables
call-by-value
call-by-reference
command-line-argv
dynamic-array
struct_packing
